#calculator{
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.541);
    border-radius: 10px;
}
#in{
    height: 45px;
    width:230px;
    margin:15px;
    border:2px solid rgba(0, 0, 0, 0.604);
    
}
.button{
    
    width:70px;
    height: 50px;
     margin: 3px;
    
   
}
#but{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#head{
    text-transform: capitalize;
    text-decoration: black  underline;
    font-size: larger;
    font-style:oblique;
    color: rgba(165, 17, 17, 0.897);
    margin-left: 65px;
}